.add-button {
	background-color: #1a76d2;
	border-radius: 100px;
	width: 60px;
	height: 60px;
	border: none;
	outline: none;
	justify-content: center;
	align-items: center;
	color: #fff;
	z-index: 2;
	display: flex;
	cursor: pointer;
}

.add-button svg {
	width: 13px;
	height: 13px;
}

.add-button-wrapper {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 4;
	opacity: 0;
	transition: opacity 0.1s ease-in-out;
}

.add-button-wrapper.top {
	top: -30px;
}

.add-button-wrapper.bottom {
	bottom: -30px;
}

.website:hover .add-button-wrapper {
	opacity: 1;
}
